body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Muli', sans-serif;
}
.brand-logo {
    margin-top: 3px;
    margin-bottom: 5px;
    height: 50px;
    width: auto;
}
p {
    line-height: 2rem;
}
.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255, 255, 255, .9);
}
.parallax-container .section {
    width: 100%;
}
@media screen and (min-width: 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }
    #index-banner .section {
        top: 10%;
    }
    .col.s3.m3.l3>.responsive-img {
        padding-top: 70px !important;
    }
    #tagline {
        margin-top: 200px !important;
    }
}
@media screen and (min-width: 600px) {
    #index-banner .section {
        top: 0;
    }
    .col.s3.m3.l3>.responsive-img {
        padding-top: 70px !important;
    }
    #tagline {
        margin-top: 200px !important;
    }
}
#tagline {
    margin-top: 50px;
}
#tagline>.row.left.left-align>.header.col.s12 {
    margin-top: 5px;
    padding-right: 0px;
}
.col.s3.m3.l3>.responsive-img {
    padding-top: 20px;
}
footer.page-footer {
    margin: 0;
}
.header {
    padding-left: 0px !important;
    margin-bottom: 0px !important;
}
#contact{
    margin-top: 20px;
}
#contactme>.row.contact>.col.s12>.row {
    margin-bottom: 3px !important;
}
.row.contact {
    margin-bottom: 0px;
}
.modal-content>h4,
p {
    margin: 2px;
}
#contactme {
    border: 1px solid #9e9e9e;
    border-radius: 15px 50px;
    margin-top: 0px;
    padding: 10px;
}
.container.scrollspy>.row {
    margin-bottom: 30px;
}
.fa{
    margin-left: 5px;
    margin-right: 5px;
}
#portfolio{
    margin-top: 20px;
}